<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/css/login.css' %}">
    <script>
        {% if invalid_credentials %}
            window.onload = function() {
                alert("Invalid username or password. Please try again.");
            };
        {% endif %}
    </script>
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
            <div class="link-container">
                <p>Don't have an account?</p>
                <a href="/register">Register</a>
            </div>
        </form>
    </div>
</body>
</html>
